@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: "Roboto Light", sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/background_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0.5px);
  z-index: -1;
}
