.signup-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Light", sans-serif;
  color: #989898;
}

.signup-container {
  background-color: #F8F8FF;
  width: 40vw;
  border-radius: 10px;
  padding: 25px;
}

.signup-header {
  text-align: center;
}

.signup-header h4 {
  font-size: 24px;
  line-height: 1.2;
  color: #333 !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-group input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #989898;
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto Light", sans-serif;
}

.form-group label {
  font-weight: lighter;
  font-size: 12px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-btn {
  background-color: #60a3d9;
  border-radius: 20px;
  width: 30%;
  height: 40px;
  border: 1px solid #787878;
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}


.signup-btn:hover {
  cursor: pointer;
  background-color: #bfd7ed;
  color: black;
}

.old-customer {
  text-align: center;
  margin-top: 20px;
}

.old-customer a {
  color: #60a3d9;
  text-underline: #60a3d9;
  cursor: pointer;
  text-decoration: underline;
}
