<div class="main-page-container">
  <section class="main-welcome">
    <h1>Welcome to the aggregator of Ukrainian films and TV shows</h1>
    <p>Let's start and find something that you are looking for</p>
    <a
      class="get-started-button"
      routerLink="/movies"
    >Get Started</a>
  </section>

  <section class="features">
    <div class="feature">
      <img src="assets/main-logo1.png" alt="icon-calc" width="50px" height="50px">
      <h3>Ukrainian</h3>
      <p>Explore and find movies and TV shows that were created in Ukraine</p>
    </div>
    <div class="feature">
      <img src="assets/main-logo2.png" alt="icon-chat" width="50px" height="50px">
      <h3>A ton of movies</h3>
      <p>Get a big list of movies to watch</p>
    </div>
  </section>
</div>
